.horizontal {
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    background-color: white;
}
.horizontal .content {
    min-width: 220px;
    height: 220px;
    line-height: 220px;
    text-align: center;
    margin-right: 2px;
}

.container-1{
    background-color: white;
}

.textback-color{
    background-color: #cc0c39
}

.img{
    width: 200px;
}